body{
    background: 
        url("../images/nza_background.jpg");
}
.col-md-8{
    background-color: grey;
    background-clip: content-box;
    height:100%;
}

.page {
    width: 90%;
    height: 100%;
    background-color: white;
}
.list{
    background: url("images/nav_side.jpg");
}



footer{
    margin-top: 50px;
}